html, body{
    font-family: 'Oxygen', sans-serif;
    height: 100%;
}

.table-bordered {
    height: 40% !important;
    width: 0 !important;
}

#tablePlayer1 {
    margin-left: auto;
    margin-right: auto;
}

#tablePlayer2 {
    margin-left: auto;
    margin-right: auto;
}

#errorAlert {
    visibility: hidden;
}

td{
    padding: 0 !important;
    width: 10% !important;
    padding-bottom: 10% !important;
    border:1px solid black !important;
}
.wrapper{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}
.default{
    background-color: #07737a;
}
.ship{
    background-color: black;
}
#tablePlayer2 .hit{
    background-color: #FF5341;
}
#tablePlayer1 .hit{
    background-color: #034044;
}
.noHit{
    background-color: #0ab2bd;
}
.destroy{
    background-color: #008eb7;
}
#tablePlayer2 .default:hover{
    background-color: red;
}
