html, body{
    font-family: 'Oxygen', sans-serif;
    height: 100%;
}    

.table-bordered {
    height: 40% !important;
    width: 0 !important;
}

#tablePlayer1 {
    margin-left: auto;
    margin-right: auto;
}

#tablePlayer2 {
    margin-left: auto;
    margin-right: auto;
}

td{
    padding: 0 !important;
    width: 10% !important;
    padding-bottom: 10% !important;
}
.wrapper{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}

.spielfeld1{
    background-color: #c4e0a4;
}
.spielfeld1:hover{
    background-color: #93ae75;
}
.spielfeld2{
    background-color: #fff9c4;
}
.spielfeld2:hover{
    background-color: #cbc693;
}
