body{
    font-family: 'Oxygen', sans-serif;
}

.table-bordered {
    width: 90% !important;
    height: 0 !important;
    overflow: hidden;
}

td{
    padding: 0 !important;
    width: 10% !important;
    padding-bottom: 10% !important;
}

.spielfeld1{
    background-color: #c4e0a4;
}
.spielfeld1:hover{
    background-color: #93ae75;
}
.spielfeld2{
    background-color: #fff9c4;
}
.spielfeld2:hover{
    background-color: #cbc693;
}

body{
    margin: 5%;
}