.table-bordered {
    width: 80% !important;
    height: 0 !important;
    overflow: hidden;
}

td{
    padding: 0 !important;
    width: 10% !important;
    padding-bottom: 10% !important;
}

td:hover{
    background-color: lightblue;
}

body{
    margin: 1%;
}